<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="binariesPath" value="D:\Projects\Firecore\Seas0nPass\trunk\Seas0nPass\Resources\Binaries" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
